
*{
  box-sizing:border-box;
}

.header{
  background-color:rgb(127, 170, 163);
  position:fixed;
  width:100%;
  height:100px;
  z-index:1;
  font-size:30px;
  line-height:100px;
  text-align:left;
  &__left{
    float:left;
    text-align:left;
  }
  &__right__list{
    height:100px;
    width:200px;
    float:right;
    border: medium solid rgb(100,150,100);
    background-color:rgb(200,250,200);
    text-decoration:none;
    position:relative;
    z-index:1;
    &__button{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align:center;
      z-index: 2;
    }
  }
}
.contents{
  background-color:red;
  // height:100%;
  border-radius:40px;
  position:relative;
  top:100px;
  width:100%;
  &__middle{
    width:80%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
  }
}
.footer{
  $footer-height:30px;
  background-color:gray;
  position:fixed;
  bottom:0;
  width:100%;
  height:$footer-height;
  text-align:center;
  &__pageparent{
    position:relative;
    width:100%;
    height:$footer-height;
    &__page{
      width:300px;
      height:$footer-height;
      margin:auto;
      top:0;
      left:0;
      right:0;
      bottom:0;
      position:absolute;
    }
  }
}
.unit{
  border: thin solid #555555;
  height:200px;
  background-color:rgb(236, 211, 241);
  &__functions{
    line-height:25px;
    height:25px;
    &__list{
      float:right;
      margin:0 3px;
    }
    &__list__username{
      float:left;
      color:black;
      font-size:23px;
    }
  }
  &__main{
    height:80%;
    border-top: thin solid #555555;
    word-wrap: break-word;
    white-space: normal;
    display: block;
  }
}
// ここから、newビューファイル
.body-new{
  background-color:blue;
  height:100%;
}

